:local {
    .wrapper {
        display: flex;
        flex-direction: column;

        .connectionInfo {
            font-size: 5em;
        }

        .pageHeader {
            display: inline-flex;
            justify-content: flex-start;
            // font-size: 3em;
        }
        .controls {
            display: flex;
            width: 100%;
            height: 50px;
            margin-bottom: 30px;
            justify-content: space-between;
            flex-direction: column;
            flex-wrap: wrap;
        }

        .sliders {
            display: flex;
            margin-top: 30px;
            flex-direction: column;
        }

        .toggleSwitch {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            min-height: 35px;

            @media screen and (max-width: 450px){
                max-width: 20px;
            }
            // margin-left: 60px;
        }
    }
}
